.navbar {
  background-color: #324a5f;
  box-shadow: 0 2px 4px rgba(10, 111, 226, 0.712);
}

.navbar-brand img.logo {
  height: 50px;
  transition: transform 0.5s ease;
}

.navbar-brand img.logo:hover {
  transform: scale(1.1);
}

.nav-link,
.navbar-toggler {
  color: #1100ff !important;
  transition: color 0.3s ease;
}

.nav-link:hover,
.navbar-toggler:hover {
  color: #a4c3b2 !important;
}

#symbol {
  font-size: 1.5rem;
}

.nav-dropdown,
.dropdown-menu {
  background-color: #506680;
  border: 0;
  min-width: 200px;
}

.dropdown-item {
  color: #f7f7ff;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #a4c3b2;
}

@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    position: static;
  }
}
